@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --card: 0 0% 3%;
  --card-foreground: 0 0% 100%;
  --primary: 224 76% 48%;
  --primary-foreground: 0 0% 100%;
  --muted: 0 0% 9%;
  --muted-foreground: 0 0% 64%;
  --accent: 0 0% 9%;
  --accent-foreground: 0 0% 100%;
  --border: 0 0% 11%;
  --input: 0 0% 11%;
  --ring: 224 76% 48%;
}

body {
  background-color: black;
  color: white;
  -webkit-tap-highlight-color: transparent;
}